body { background-color: #331107; }
#page-background {
	background-color: #ff5522;
}
#page-background > .effects > * { border: 0 rgba(0,0,0,0.2) solid; }
#page-background > .effects > .layer1 { border-width: 3px 0 0; }
#page-background > .effects > .layer2 { border-width: 6px 0 0; }
#page-background > .effects > .layer3 { border-width: 9px 3px 0; }
#page-background > .texture {
	background: url('images/back.texture.s512.png');
}
#page-background > .stripes > .layer {
	background: url('images/patch.striped.45deg-8l-8g.s16.png');
	opacity: 0.9;
}

@-webkit-keyframes shifting-stripes {
	from { background-position-y: 0px; }
	to { background-position-y: 16px; }
}
   @-moz-keyframes shifting-stripes {
	from { background-position-y: 0px; }
	to { background-position-y: 16px; }
}
     @-o-keyframes shifting-stripes {
	from { background-position-y: 0px; }
	to { background-position-y: 16px; }
}
        @keyframes shifting-stripes {
	from { background-position-y: 0px; }
	to { background-position-y: 16px; }
}
#page-background > .stripes > .layer {
	-webkit-animation: shifting-stripes 1s linear infinite;
	   -moz-animation: shifting-stripes 1s linear infinite;
	     -o-animation: shifting-stripes 1s linear infinite;
	        animation: shifting-stripes 1s linear infinite;
}


#page-content,
#page-content * {
	color: #fff;
	font-weight: bold;
	text-shadow: rgba(0,0,0,1.0) 0px 2px 3px;
}
#page-content a,
#page-content * a { color: #888; }

#page-content em,
#page-content em a {
}

#page-content strong,
#page-content strong a {
	font-family: 'Orbitron', 'Arial Black', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}


h1, h2, h3, h4, h5, h6 {
	font: 0/1 'Helvetica', 'Arial', sans-serif;
	text-shadow: rgba(0,0,0,1.0) 0px 3px 5px;
}

h1 { font-size: 48px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }